extends layout

block content
        h1 #{title}
        form(action="/articles/add" method="POST")
            #form-group
                label Title:
                input.form-control(type="text", name='title')
            #form-group
                label Body:
                textarea.form-control(name='body')
            br
            input.btn.btn-primary(type="submit",value="Submit")
